

body > div {
    border: 2px solid #5F97C9;
    height: 6rem;
    width: 12rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #5F97C9;
}

body > div > div{
    border: 2px solid #F8BF00;
    border-radius: 100px;
    height: 6rem;
    width: 6rem;

    background-color: #F8BF00;
}
main > div{
    display: grid;
    margin: 2rem;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    grid-template-areas: 
    "header section"
    "article footer";
}

header{
    grid-area: header;
    border: 2px solid black;
    height: 150px;
    width: 150px;
    background-color: yellow;
}

section{
    grid-area: section;
    border: 2px solid black;
    height: 150px;
    width: 150px;
    background-color: rgb(116, 116, 89);
}

article{
    grid-area: article;
    border: 2px solid black;
    height: 150px;
    width: 150px;
    background-color: rgb(195, 195, 24);
}

footer{
    grid-area: footer;
    border: 2px solid black;
    height: 150px;
    width: 150px;
    background-color: yellow;
}